body{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 text-align: center;
 background: #ffb830;
 padding: 0;
 margin: 0;
 color: black;
}

.wrap{
    margin: auto;
}
.switch{
    position: relative;
    display: flex;
    width: 250px;
    height: 80px;
}
.switch input{
    visibility: hidden;
}
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffb830;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: -5px -5px 10px rgba(255,255,255,0.2),
				5px 5px 10px rgba(255,255,255,0.2);
}
.slider::before{
    position: absolute;
    content: "";
    height: 72px;
    width: 72px;
    background: white; 
	left: 4px;
	bottom: 4px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
input:checked + .slider {
	background: black;
}
input:checked + .slider:before {
	transform: translateX(170px);
}
.slider.round {
	border-radius: 50px;
}
.slider.round:before {
	border-radius: 50%;
}
.lights-on {
	background: black;
	width: 100vw;
	height: 100vh;
	color: white;
}
.slider::after{
	background: white;
}



